@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;0,600;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

$primary: #0556AD;
$success: #00852A;
$info:    #0098EA;
$danger:  #D80000;
$warning: #FFBF00;

$primary_hover: #044A96;
$success_hover: #007324;
$danger_hover:  #BC1406;



$bg_grey:   #F0F2F7;
$dark_blue: #122B45;
$dark_blue_hover: #081D32;


$grey_font: #6B6C6D;

$primary_font: 'Lato', sans-serif;
$header_font: 'Rubik', sans-serif;

